.footer{
    width: 100%;
    grid-area: footer;
    background-color: rgb(230, 140, 23);
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-column: 1,1;
    justify-content: right;
  }